.tooltip {
    display: inline;
    position: absolute;
    right: 20px;
    top: 10px;
  }
  .tooltip:after {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    background: #444;
    border-radius: 8px;
    color: #fff;
    content: attr(title);
    font-size: 12px;
    line-height: 1;
    padding: 8px 6px 10px 6px;
    width: 180px;
    display:none;
  }
  .tooltip:hover:after{
    right: 10px;
    bottom: -35px;
    display:flex;
    position: absolute;
  }
  .tooltip:hover:before{
    border: solid;
    border-color: #444 transparent;
    border-width: 0 8px 12px 8px;
    right: 20px;
    bottom: -10px;
    position: absolute;
    content: "";
  }


  

 .navbarToolTip {
   display: inline;
   position: relative;
  
 }

 

     .navbarToolTip:after {
       display: -webkit-flex;
       display: flex;
       -webkit-justify-content: center;
       justify-content: center;
       background: #444;
       border-radius: 8px;
       color: #fff;
       content: attr(title);
       font-size: 12px;
       line-height: 1;
       padding: 8px 6px 10px 6px;
       width: 180px;
       display: none;
     }
  
     .navbarToolTip:hover:after {
       margin-top: 10px;
       bottom: 70px;
       display: flex;
       position: absolute;
     }
  
     .navbarToolTip:hover:before {
       border: solid;
       border-color: #444 transparent;
       border-width: 8px 12px 0px 12px;
      margin-bottom: -10px;
       position: absolute;
       content: "";
       margin-left: 30px;
     }


       
      
      
                     .submitToolTip {
                       display: inline;
                       position: relative;
                      
                     }
          
                     .submitToolTip:after {
                       display: -webkit-flex;
                       display: flex;
                       -webkit-justify-content: center;
                       justify-content: center;
                       background: #444;
                       border-radius: 8px;
                       color: #fff;
                       content: attr(title);
                       font-size: 12px;
                       line-height: 1;
                       padding: 8px 6px 10px 6px;
                       width: 180px;
                       display: none;
                     }
          
                     .submitToolTip:hover:after {
                       right: 10px;
                       bottom: 35px;
                       display: flex;
                       position: absolute;
                      
                     }
          
                     .submitToolTip:hover:before {
                       border: solid;
                       border-color: #444 transparent;
                    border-width: 8px 12px 0px 12px;
                       right: 50px;
                       bottom: 30px;
                       position: absolute;
                       content: "";
                     }