body {
  margin: 0;
  font-family: "Oswald";
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.Mui-focusVisible * {
  text-decoration: underline !important;
  font-weight: 600 !important;
}


.link {
  color: #005a9c !important;
  text-decoration: none;
  font-weight: 600 !important;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: 600;
}